.type-logos {
  display: inline-block;
  width: 28px;
  height: 28px;

  background-image: url('type-logos.png');
  background-repeat: no-repeat;
  image-rendering: pixelated;
}

.type-logos.bug {
  background-position: 0 0;
}
.type-logos.dark {
  background-position: -28px 0;
}
.type-logos.dragon {
  background-position: -56px 0;
}
.type-logos.electric {
  background-position: -84px 0;
}
.type-logos.fairy {
  background-position: 0 -28px;
}
.type-logos.fighting {
  background-position: -28px -28px;
}
.type-logos.fire {
  background-position: -56px -28px;
}
.type-logos.flying {
  background-position: -84px -28px;
}
.type-logos.ghost {
  background-position: 0 -56px;
}
.type-logos.grass {
  background-position: -28px -56px;
}
.type-logos.ground {
  background-position: -56px -256px;
}
.type-logos.ice {
  background-position: -84px -56px;
}
.type-logos.normal {
  background-position: 0 -84px;
}
.type-logos.poison {
  background-position: -28px -84px;
}
.type-logos.psychic {
  background-position: -56px -84px;
}
.type-logos.rock {
  background-position: -84px -84px;
}
.type-logos.steel {
  background-position: -112px 0;
}
.type-logos.water {
  background-position: -112px -28px;
}
