.type-logos {
  display: inline-block;
  width: 16px;
  height: 16px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.type-logos.bug {
  background-image: url('./assets/bug.png');
}
.type-logos.dark {
  background-image: url('./assets/dark.png');
}
.type-logos.dragon {
  background-image: url('./assets/dragon.png');
}
.type-logos.electric {
  background-image: url('./assets/electric.png');
}
.type-logos.fairy {
  background-image: url('./assets/fairy.png');
}
.type-logos.fighting {
  background-image: url('./assets/fighting.png');
}
.type-logos.fire {
  background-image: url('./assets/fire.png');
}
.type-logos.flying {
  background-image: url('./assets/flying.png');
}
.type-logos.ghost {
  background-image: url('./assets/ghost.png');
}
.type-logos.grass {
  background-image: url('./assets/grass.png');
}
.type-logos.ground {
  background-image: url('./assets/ground.png');
}
.type-logos.ice {
  background-image: url('./assets/ice.png');
}
.type-logos.normal {
  background-image: url('./assets/normal.png');
}
.type-logos.poison {
  background-image: url('./assets/poison.png');
}
.type-logos.psychic {
  background-image: url('./assets/psychic.png');
}
.type-logos.rock {
  background-image: url('./assets/rock.png');
}
.type-logos.steel {
  background-image: url('./assets/steel.png');
}
.type-logos.water {
  background-image: url('./assets/water.png');
}
